@font-face {
  font-family: "bold";
  src: url(GE-SS-Two-Bold.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "bold", sans-serif;
  list-style: none;
  text-decoration: none;
}
img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

#error {
  position: relative;
  top: -10px;
  color: red;
  font-size: 14px;
}

.container {
  width: 95%;
  margin: auto;
}

.div-btn {
  text-align: center;
  padding: 5px 0 10px;
  display: flex;
  justify-content: center;
}

.div-btn .btn {
  width: 55%;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  background: #921a48;
  color: #fff;
  font-size: 8vw;
  font-weight: bolder;
  padding: 8px;
  line-height: 1.2;
  box-shadow: 5px 5px 8px #00000065;
}
.div-btn .btn_img {
  width: 70%;
  margin-top: 20px;
}

/* start hero */

.hero > .top_sec > img {
  width: 100%;
}
body > div.result > img {
  width: 100%;
}
.hero ul {
  padding-top: 10px;
  width: max-content;
  margin: 0 auto;
}
.hero ul li{
  color: #fff;
  width: max-content;
  padding: 3px 5px;
  font-size: 4.6vw;
  margin: 0 auto;
}
.hero ul li.red1 {
  background: #a11d20;
}
.hero ul li.white {
  color: #2f2d2c;
  background: transparent;
  margin-bottom: 18px;
}
.div-btn .btn_img {
  margin-top: 0px;
}

/* start result */

.result {
  background: url(../img/bg_resul.webp);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.result .top_sec_res {
  padding: 10px 0;
}
.result .top_sec_res h3 {
  color: #fff;
  font-size: 6.2vw;
  line-height: 1.4;
}
.result .top_sec_res h4 {
  color: #fff;
  font-size: 6.2vw;
  line-height: 1.2;
  display: flex;
  gap: 3px;
}
.result .top_sec_res h4 span {
  width: 50.5%;
  background: #474442;
  display: block;
  text-align: left;
  padding: 0 3px;
  border-radius: 5px;
}
.result .imp {
  background: #fff;
  display: flex;
  width: max-content;
  margin: -5px auto 10px;
  gap: 3px;
  padding: 0px 0 0 10px;
  border-radius: 20px 0 0 0;
}
.result .imp div {
  background: #000;
  color: #fff;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-radius: 20px 0 0 0;
  font-size: 4.8vw;
}
.result .imp p {
  color: #2f2d2c;
  padding: 3px 0;
  font-size: 3.5vw;
}
.result .btn {
  background: #fff;
  color: red;
}

/* how_work */

.how_work {
  position: relative;
  padding-bottom: 10vw;
}
.how_work .top_sec_work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  padding: 0px 15px 20px 0;
}
.how_work .top_sec_work img {
  width: 33%;
}

.how_work .top_sec_work h4 {
  font-size: 5vw;
  color: #d22327;
  line-height: 1.4;
}
.how_work .top_sec_work h5 {
  color: #fff;
  background: #2f2d2c;
  font-size: 5.5vw;
  padding: 0 5px;
  margin-top: 5px;
}

.how_work .content {
  text-align: center;
}
.how_work .content p {
  font-size: 4.1vw;
  margin-bottom: 17px;
  color: #2f2d2c;
}
.how_work .content p:last-child {
  margin-bottom: 25px;
}
.how_work .btm_work {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}

/* Doctor */

.doctor {
  background: url(../img/bg_doctor.webp);
  background-size: cover;
  background-position: center;
}
.doctor .top_doctor {
  position: relative;
  border-top: 1px solid #fff;
}
.doctor .top_doctor .text {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.doctor .top_doctor .text h3 {
  color: #fff;
  font-size: 5vw;
}
.doctor .top_doctor .text h4 {
  color: #fff;
  font-size: 5vw;
  line-height: 1;
  margin-top: 8px;
}
.doctor .top_doctor .text h4 span {
  background: #a11d20;
  padding: 0px 4px 0px;
  line-height: 1;
}
.doctor ul li {
  display: flex;
  align-items: center;
  width: max-content;
  background: #242524;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 14px;
}
.doctor ul li .img {
  padding: 3px 10px;
  border-left: 1px solid #b7b5b590;
}
.doctor ul li .img img {
  width: 20px;
}
.doctor ul {
  padding: 10px 0;
}
.doctor ul li p {
  color: #fff;
  padding: 1px 6px;
  font-size: 3.4vw;
}
.doctor .product_div {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.doctor .product_div .text_pro {
  text-align: center;
  color: #fff;
  padding-top: 15vw;
  width: max-content;
}
.doctor .product_div .text_pro h3 {
  font-size: 4.1vw;
  line-height: 1.5;
}

.doctor .product_div .text_pro h4 {
  margin-top: 5px;
  background: #a11d20;
  font-size: 5vw;
}

.doctor .product_div img {
  width: 35%;
}

.doctor .div-btn {
  padding-top: 15vw;
}
.doctor .div-btn .btn {
  width: 100%;
  background: linear-gradient(-100deg, #c22025, #4e1212);
}

/* last section */

.last_sec {
  background: #2f2d2c;
}

.last_sec .div_form {
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 10px;
}

.last_sec .div_form .flex_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 60px;
}
.last_sec .flex_price .text_price {
  width: 100%;
}
.last_sec .flex_price .allprice {
  padding: 25px 15px 20px 0;
  background: url(../img/bgprice.webp);
  background-size: cover;
  background-position: center;
  padding-right: 15px;
}
.last_sec .flex_price .text_price h4 {
  font-size: 10.5vw;
  line-height: 0.8;
  color: #040503;
  position: relative;
  width: max-content;
}

.last_sec .flex_price .text_price h4 span {
  position: absolute;
  top: 4px;
  left: 2px;
  font-size: 4.8vw;
}
.last_sec .flex_price .text_price h3 {
  font-size: 31.5vw;
  line-height: 0.9;
  color: #a11d20;
  font-family: sans-serif;
}

.last_sec .flex_price .text_price p {
  font-size: 4.5vw;
  width: max-content;
  line-height: 1.5;
  padding: 0 3px 2px 3px;
  position: relative;
  color: #040503;
}
.last_sec .flex_price .text_price p span {
  font-family: sans-serif;
  position: relative;
  top: 2px;
}

.last_sec .flex_price .text_price p::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d80d39;
  width: 96%;
  height: 2px;
}

.last_sec .flex_price .text_price .securit {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 15px 20px 0px 0;
  margin-bottom: 20px;
}
.last_sec .flex_price .text_price .securit span {
  font-size: 3.8vw;
  line-height: 1.3;
}
.last_sec .flex_price .text_price .securit img {
  width: 50px;
}

.last_sec .div_form .flex_price .img_productt {
  width: 36%;
  position: absolute;
  top: 0;
  left: 0;
}

.last_sec .delv_text {
  padding: 5px 0 10px;
  position: relative;
  margin-bottom: 5px;
  text-align: center;
}
.last_sec .delv_text img {
  width: 86%;
  margin: 0 auto;
  margin-top: -8px;
}

.last_sec .delv_text p {
  color: #fff;
  font-size: 5.8vw;
  line-height: 1.6;
  margin-top: -10px;
}
.last_sec .delv_text p.bg_red {
  background: #a11d20;
  padding: 0 10px 2px 10px;
  width: max-content;
  margin: auto;
  font-size: 6.5vw;
  line-height: 1.4;
}

.last_sec .sm-p {
  font-size: 2.2vw;
  text-align: center;
  width: 95%;
  margin: auto;
  line-height: 1.5;
  font-weight: 600;
  color: #cf191c;
  margin-top: 0px;
}

.last_sec .div_form form {
  background: #aaabab;
  box-shadow: 5px 5px 8px #00000027;
  text-align: center;
  width: 95%;
  margin: 3px auto 0;
  border-radius: 20px;
  overflow: hidden;
}
.last_sec .div_form .content {
  padding: 12px 0;
}
.last_sec .div_form .content p {
  font-size: 4.8vw;
  line-height: 1.2;
  color: #2f2d2c;
  font-weight: 500;
}

.last_sec .div_form .div_flex {
  background: #fff;
  padding-top: 3px;
}

.last_sec .div_form form input {
  width: 95%;
  padding: 15px 10px;
  font-size: 18px;
  box-shadow: 5px 5px 8px #00000031;
  outline: none;
  margin-bottom: 12px;
  text-align: right;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid transparent;
}

.last_sec .div_form form input:focus {
  border: 1px solid #855aa5;
}

.last_sec form .div-btn {
  padding: 0 0 15px;
}

.last_sec form .div-btn .btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(to top, #460d0d, #c02024);
  color: #fff;
  font-size: 7vw;
  font-weight: bolder;
}

.last_sec .footer .boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
}

.last_sec .footer .boxs .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 33.3%;
  position: relative;
}

.last_sec .footer .boxs .box img {
  height: 22px;
  width: auto;
}
.last_sec .footer .boxs .box .img2 {
  height: 20px;
}
.last_sec .footer .boxs .box p {
  font-size: 2.3vw;
  line-height: 1.5;
  color: #2f2d2c;
}

@media (min-width: 600px) {
  .div-btn .btn {
    width: max-content;
    padding: 8px 40px 13px;
    font-size: 25px;
  }
  .result .div-btn .btn {
    padding: 8px 40px 13px;
  }
  .doctor .div_text .top_text {
    width: max-content;
    margin: 0 auto;
  }
  .doctor .div_text .top_text h3 {
    font-size: 35px;
    padding: 0 20px;
  }
  .doctor .div_text .content_Text {
    margin: 5vw 0 5vw;
  }
  .doctor .div_text .top_text p {
    font-size: 18px;
  }
  .hero {
    text-align: center;
  }
  .hero img {
    width: 60%;
  }

  .hero .div_text h3 {
    font-size: 35px;
  }
  .hero .div_text h4 {
    font-size: 35px;
  }

  .hero .div_text ul li {
    font-size: 30px;
  }
  .hero .div-btn {
    margin-top: 10px;
  }
  .hero .div-btn .btn {
    padding: 8px 40px 13px;
  }

  .doctor {
    justify-content: space-between;
  }
  .doctor .doctor_img {
    width: 35%;
  }

  .doctor .div_text .content_Text li {
    font-size: 28px;
  }

  .doctor .div_text .div-btn .btn {
    font-size: 25px;
  }

  .how_work h3 {
    font-size: 40px;
  }
  .how_work img {
    width: 50%;
  }
  .how_work p {
    font-size: 28px;
  }
  .last_sec .div_form .flex_price {
    width: 90%;
    margin: 0 auto;
  }
  .last_sec .delv_text img {
    width: 70%;
  }

  .last_sec .flex_price .text_price h3 {
    font-size: 150px;
  }

  .last_sec .flex_price .text_price h4 {
    font-size: 60px;
  }
  .last_sec .flex_price .text_price p {
    font-size: 33px;
  }

  .last_sec .delv_text p {
    font-size: 35px;
  }

  .last_sec .div_form .flex_price .img_productt {
    width: 250px;
  }

  .last_sec .div_form .flex_price {
    justify-content: space-between;
  }

  .last_sec .div_form .content p {
    font-size: 20px;
  }
  .last_sec .div_form form {
    width: 70%;
  }
  .last_sec .sm-p {
    font-size: 15px;
  }
  .last_sec form .div-btn .btn {
    font-size: 25px;
  }

  .last_sec .delv_text::after,
  .last_sec .delv_text::before {
    background: linear-gradient(
      to left,
      transparent,
      transparent,
      #113543,
      #113543,
      transparent,
      transparent
    );
  }
  .last_sec form .div-btn {
    width: 50%;
    margin-inline: auto;
  }

  .last_sec .div_form form input {
    width: 80%;
  }

  .last_sec .footer .boxs {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .div-btn .btn {
    font-size: 24px;
  }

  .flex_Sec {
    display: flex;
  }

  .flex_Sec .hero {
    width: 50%;
  }
  .flex_Sec .doctor {
    width: 50%;
  }

  .doctor .div_text .content_Text li {
    font-size: 22px;
  }

  .result {
    width: 50%;
  }

  .how_work {
    width: 50%;
    padding-top: 0;
  }

  .last_sec {
    width: 100%;
  }
  .last_sec .delv_text p {
    font-size: 30px;
  }

  .last_sec .delv_text::after,
  .last_sec .delv_text::before {
    background: linear-gradient(
      to left,
      transparent,
      #113543,
      #113543,
      transparent
    );
  }
  .last_sec .delv_text::after {
    display: none;
  }

  .last_sec .div_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .last_sec .div_form .div_flex {
    width: 45%;
  }

  .last_sec .div_bg {
    width: 50%;
  }
  .last_sec form .div-btn .btn {
    width: max-content;
    padding-inline: 30px;
  }

  .last_sec .sm-p {
    font-size: 1vw;
    margin-bottom: 10px;
  }
  .last_sec .footer .boxs .box p {
    line-height: 1.4;
    font-size: 12px;
  }
  .last_sec .div_form .flex_price .img_productt {
    margin-top: 0;
  }

  .last_sec .div_form form input {
    margin-bottom: 25px;
  }

  .last_sec .div_form form {
    width: 90%;
  }

  .last_sec .div_form .flex_price .img_productt {
    width: 200px;
  }

  .footer {
    width: 100%;
    margin: auto;
  }
  .last_sec .footer .boxs {
    justify-content: center;
    width: 100%;
  }
  .last_sec .footer .boxs .box {
    background: #fff;
    width: max-content;
    border-radius: 10px;
    padding: 10px;
    width: 33%;
  }

  .last_sec .footer .boxs .box img {
    height: 30px;
  }

  .hero .top_text {
    padding-bottom: 60px;
  }

  .how_work h3 {
    margin-bottom: 10px;
  }
  .how_work img {
    margin-bottom: 10px;
  }
  .how_work img {
    width: 65%;
  }
  .how_work p {
    margin-bottom: 0px;
  }
}
@media (min-width: 1100px) {
  .how_work p {
    margin-bottom: 5px;
  }
  .footer {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .how_work h3 {
    margin-bottom: 30px;
  }
  .how_work img {
    margin-bottom: 30px;
  }
  .how_work p {
    margin-bottom: 7px;
  }
  .footer {
    margin-top: 40px;
  }
}

@media (min-width: 1300px) {
  .how_work p {
    margin-bottom: 10px;
  }
  .how_work img {
    margin-bottom: 40px;
  }

  .last_sec .div_form form {
    width: 500px;
  }

  .last_sec .div_form .flex_price .img_productt {
    width: 210px;
    margin-left: 60px;
  }
}
