
/* Thanks Page */
@font-face {
  font-family: "Cairo";
  src: local("Cairo"), url("../img/Cairo-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bold", sans-serif;
    list-style: none;
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    direction: rtl;
  }


  .container {
    width: 95%;
    margin: auto;
  }

  
  
body.thanks_page_page {
    background: url(../img/thanksbg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .thanks_page {
    text-align: center;
  
    padding-top: 30px;
  }
  
  .thanks_page h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #fff;
  }
  .thanks_page_page .text{
    background: rgba(196, 21, 21, 0.517);
    padding-bottom: 1px;
  }
  .thanks_page p {
    font-size: 14px;
    margin-bottom: 5px;
    margin-bottom: 10px;
    color: #dad6d6;
  }
  .thanks_page a {
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    background: #1f2a3e;
    width: max-content;
    border-radius: 10px;
    margin: 0 auto 10px;
  }
  
  .thanks_page .text img {
    width: 70px;
  }
  @media (min-width: 1000px) {
    .thanks_page p {
      font-size: 18px;
      margin-bottom: 25px;
    }
    .thanks_page h3 {
      font-size: 25px;
      margin: 00px 0 8px;
    }
    .thanks_page .text img {
      width: 100px;
    }
  }
  
  @media (min-width: 500px) {
    body.thanks_page_page {
      background: linear-gradient(#00000068, #00000068), url(../img/lion.jpg);
      background-size: cover;
      background-position: center;
      min-height: 100vh;
    }
  }
  